.inner-layout{
	min-height: 200vh;
	background-color: transparent;
	box-shadow: 0px 1px 5px 7px rgba(0, 0, 0, 0.473);
	-webkit-box-shadow: 0px 1px 5px 7px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 1px 5px 7px rgba(0,0,0,0.56);
}